/* Matugen → SwayNC */

.notification {
  background: #1a1110;
  color: #f1dedc;
  border: 2px solid #ffb4aa;
  border-radius: 12px;
  padding: 12px;
}

.notification.critical {
  background: #ffb4ab;
  color: #690005;
}
