/* Matugen → SwayNC */

.notification {
  background: #0f1511;
  color: #dfe4dd;
  border: 2px solid #94d5a9;
  border-radius: 12px;
  padding: 12px;
}

.notification.critical {
  background: #ffb4ab;
  color: #690005;
}
