/* Matugen → SwayNC */

.notification {
  background: {{ colors.background.default.hex }};
  color: {{ colors.on_background.default.hex }};
  border: 2px solid {{ colors.primary.default.hex }};
  border-radius: 12px;
  padding: 12px;
}

.notification.critical {
  background: {{ colors.error.default.hex }};
  color: {{ colors.on_error.default.hex }};
}
